[submodule "lingo"]
	path = lingo
	url = https://github.com/dnakamura/lingo
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "backward-cpp"]
	path = backward-cpp
	url = https://github.com/bombela/backward-cpp.git
